@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* #region markdown */
/* tailwind doesn't see remark-rehype's use? */
.sr-only {
	@apply sr-only;
}

.footnotes {
	@apply text-sm border-t-2 border-gray-400;
}
/* #endregion */

/* #region view transitions */
@media (prefers-reduced-motion: no-preference) {
	@view-transition {
		navigation: auto;
	}
}

/* useful for debugging */
/* :root::view-transition-group(*) {
	animation-duration: 10s;
} */

::view-transition-old(*),
::view-transition-new(*) {
	object-fit: none;
	object-position: left top;
}

::view-transition-old(site-header),
::view-transition-new(site-header) {
	animation: none;
}
/* #endregion */

html {
	scrollbar-gutter: stable;
}
