---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("blog");
// idk
// posts.sort((a, b) => b.data.pubDate - a.data.pubDate)
---
<Layout title="blog">
    {
        posts.map(post => (<article class="border">
           <h1 class="font-medium text-xl"><a href={`/blog/${post.slug}`} class="hover:underline">{post.data.title}</a></h1>
           <p>{post.data.description}</p>
        </article>))
    }
</Layout>
