---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- put an image here, like a pfp -->
	<div class="prose max-w-full wrap-break-word">
		<p>
			Hi, I'm Gus - I do <strong>programming</strong>, <strong>sysadmin</strong>, insert other stuff here...
		</p>
		<p>
			here is a second paragraph as an example, with a <a href="">link</a> for testing
		</p>
	</div>
</Layout>
