---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Stuff I use">
    <article class="prose dark:prose-invert">
        <h2>Stuff I use</h2>
        <p>
            blah blah
        </p>
    </article>
</Layout>
