---
import heliov from "../assets/heliov.jpg";
---

<header>
    <div
        class="w-full h-[150px] bg-position-[center_25%] bg-size-[100%] bg-no-repeat"
        style={`background-image: url(${heliov.src})`}
    >
    </div>
    <nav class="h-[40px] w-full bottom-0">
        <ul class="flex p-0 m-0 list-none justify-evenly *:pt-[10px]">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/uses">Uses</a></li>
        </ul>
    </nav>
</header>
