---
import { Image } from "astro:assets";
import heliov from "../assets/heliov.jpg";
---

<header>
    <!-- not good to have 900px duplicated -->
    <img
        src={heliov.src}
        alt="A green-gray landscape"
        class="w-full h-[150px] dark:brightness-70 bg-gray-400 indent-[100%] whitespace-nowrap overflow-hidden"
        fetchpriority="high"
    />
    </div>
    <nav>
        <ul class="flex justify-evenly items-center h-10 bg-green-200 dark:bg-teal-700 text-black dark:text-slate-100 bold font-medium *:*:p-2 *:hover:underline">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/uses">Uses</a></li>
        </ul>
    </nav>
</header>
