---
import heliov from "../assets/heliov.jpg";
---

<header>
    <div
        class="w-full h-[150px] bg-position-[center_25%] bg-size-[100%] bg-no-repeat"
        style={`background-image: url(${heliov.src})`}
    >
    </div>
    <nav>
        <ul class="flex justify-evenly items-center h-10 bg-green-100">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/uses">Uses</a></li>
        </ul>
    </nav>
</header>
