---
import heliov from "../assets/heliov.jpg";
---

<header>
    <div
        class="w-full h-[150px] bg-position-[center_25%] bg-cover bg-no-repeat dark:brightness-70"
        style={`background-image: url(${heliov.src})`}
    >
    </div>
    <nav>
        <ul class="flex justify-evenly items-center h-10 bg-green-200 dark:bg-teal-700 text-black dark:text-slate-100 bold font-medium *:*:p-2 *:hover:underline">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/uses">Uses</a></li>
        </ul>
    </nav>
</header>
