---
import TagIcon from "~icons/lucide/tag";
import CalendarIcon from "~icons/lucide/calendar";

const { pubDate, categories } = Astro.props;

interface Props {
    pubDate?: Date;
    categories?: string[];
}
---

{
    (pubDate || categories) && (
        <p class="flex flex-wrap gap-4 text-xs">
            {pubDate && (
                <span class="inline-flex gap-1 items-center">
                    <CalendarIcon />
                    <time datetime={pubDate.toISOString()}>
                        {pubDate.toLocaleDateString()}
                    </time>
                </span>
            )}
            {categories && (
                <span class="inline-flex gap-1 items-center">
                    <TagIcon />
                    {categories.join(", ")}
                </span>
            )}
        </p>
    )
}
